# Define keyword substitution for specific file types
*     filter=keyword_expansion

# Define keyword expansion behavior
[filter "keyword_expansion"]
    clean = git-keyword-filter %f
    smudge = cat
    required
